<a class="d-flex nav-item nav-section text-uppercase fw-bold align-items-center" href="#collapse-{{ .menu.Title | lower }}"
    data-bs-toggle="collapse" aria-expanded="true" aria-controls="collapse-{{ .menu.Title | lower }}">
    {{ .menu.Params.icon | safeHTML }}
    {{ .menu.Title }}
</a>
<div class="collapse show ms-2" id="collapse-{{ .menu.Title | lower }}">
    {{ range .menu.Pages }}
        {{ if .IsSection }}
            {{ partial "menus/collapse-menu.html" (dict "menu" . "current" $.current) }}
        {{ else if eq .RelPermalink $.current.RelPermalink }}
            <li class="d-flex nav-item active mt-1 align-items-center">
                {{ .Params.icon | safeHTML }}
                {{ .Title }}
            </li>
        {{ else }}
            <a class="d-flex nav-item mt-1 align-items-center" href="{{ .RelPermalink }}">
                {{ .Params.icon | safeHTML }}
                {{ .Title }}
            </a>
        {{ end }}
    {{ end }}
</div>