<div class="d-flex justify-content-end">
    <div class="bottom text-end">
        <!-- nav section -->
        <div id="collapse-nav" class="collapse d-print-none mb-2">
            <ul id="dropdown-nav" class="dropdown-menu">

                {{ $hasMenu := false }}
                {{ $hasLang := and .Site.Params.languages.enabled .IsTranslated }}
                {{ $hasVersion := and .Site.Params.versioning.enabled .Params.Version }}
                {{ $hasTheme := .Site.Params.theming.enabled }}

                <!-- Main links -->
                {{ range .Site.Menus.main }}
                    {{ $hasMenu = true }}
                    <li><a class="dropdown-item {{ if hasPrefix $.RelPermalink (relLangURL .Identifier) }}on{{ end }}" href="{{ relLangURL .URL }}">{{ .Name }}</a></li>
                {{ end }}

                {{ if and $hasMenu (or $hasLang $hasVersion $hasTheme) }}
                    <li><hr class="dropdown-divider"></li>
                {{ end }}

                <!-- Languages links -->
                {{ if $hasLang }}
                    <li class="dropdown dropstart">
                        <a class="dropdown-toggle dropdown-item" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            {{ .Site.Language.LanguageName }}
                        </a>
                        <ul class="dropdown-menu me-1">
                            {{ range .Translations }}
                                <li><a class="dropdown-item" href="{{ .RelPermalink }}">{{ .Language.LanguageName }}</a></li>
                            {{ end }}
                        </ul>
                    </li>
                {{ end }}

                <!-- Versions links -->
                {{ if $hasVersion }}
                    <li class="dropdown dropstart">
                        <a class="dropdown-toggle dropdown-item" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            {{ .Site.Params.versioning.prefix }}{{ .Params.Version }}
                        </a>
                        <ul class="dropdown-menu me-1">
                            {{ if eq .Kind "page" }}
                                <!-- Add Parent of current page if it has a version (it's explicit above that the current page is a version) -->
                                {{ if .Params.Version }}
                                    <!-- Range over pages under parent section -->
                                    {{ range where .Parent.Pages ".Params.Version" "!=" $.Params.Version }}
                                    <li><a class="dropdown-item" href="{{ .Permalink }}">{{ .Site.Params.versioning.prefix }}{{ .Params.Version }}</a></li>
                                    {{ end }}
                                {{ end }}
                            {{ end }}
                        </ul>
                    </li>
                {{ end }}

                {{ if and $hasTheme (or $hasLang $hasVersion) }}
                    <li><hr class="dropdown-divider"></li>
                {{ end }}

                <!-- Theming button -->
                {{ if $hasTheme }}
                    <li>
                        <button id="button-theme" class="btn btn-link text-decoration-none" type="button" style="color: unset;">
                            <!-- Both icons are hidden by default, it's /js/theming.js who's gonna take care of showing the appropriate one -->
                            <i id="icon-theme-moon" class="d-none">{{ .Site.Params.theming.darkIcon | safeHTML }}</i>
                            <i id="icon-theme-sun" class="d-none">{{ .Site.Params.theming.lightIcon | safeHTML }}</i>
                        </button>
                    </li>
                {{ end }}
            </ul>
        </div>

        <button id="btn-nav" class="btn btn-primary shadow rounded-circle d-print-none" type="button"
            data-bs-toggle="collapse" data-bs-target="#collapse-nav" aria-expanded="false" aria-controls="collapse-nav">
            {{ .Site.Params.menu.icon | safeHTML }}
        </button>
    </div>
</div>
