// TWEAKING

.btn-close {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3E%3Cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3E%3C/svg%3E") !important;
    background-size: 16px !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
}

.va-unset {
    vertical-align: unset !important;
}

a {
    text-decoration: none !important;
}

:focus, button {
    outline: none !important;
    border: none !important;
    box-shadow: none !important;
}

// MENU

.bottom {
    position: fixed;
    bottom: 20px;
}

#btn-nav {
    padding: 0.75rem !important;
    
    svg {
        height: 25px;
        width: 25px;
    }
}

#dropdown-nav {
    display: block;
    position: relative;

    &.show {
        display: block;
    }

    &:not(.show) {
        display: block;
    }

    .dropdown-item.on {
        font-weight: 600;
    }
}

// DARK MODE

[data-bs-theme="dark"] {
    .carousel-indicators>button {
        background-color: #ffff !important;
    }

    .carousel-dark .carousel-control-next-icon, .carousel-dark .carousel-control-prev-icon {
        filter: invert(0) grayscale(100) !important;
    }
}

.nav-link {
    transition: none !important; // remove animation to avoid theming transition weird behavior
}

// ANIMATIONS

.zoom {
    transition: transform .3s;
    &:hover {
        transform: scale(1.025);
    }
}