<!DOCTYPE html>
{{ $lang := .Site.Language.Lang | default "en" }}
<html lang="{{ $lang }}">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {{ block "head" . }}{{ end }}

    {{ block "favicon" . }}<link rel="icon" href="{{ .Site.Params.favicon }}">{{ end }}

    {{ partial "header/styles.html" . }}
    {{ partial "header/scripts.html" . }}
    
    {{ block "title" . }}<title>{{ .Title }}</title>{{ end }}
</head>

<body>
    {{ block "nav" . }}{{ end }}

    {{ $container := .Params.Container | default "container" }}
    <div id="main-container" class="{{ $container }} py-4">
        {{ partial "menus/main-menu.html" . }}
        {{ block "main" . }}{{ end }}
    </div>
    
    <div id="footer" class="{{ $container }} mb-4">
        {{ block "footer" . }}{{ end }}
        {{ partial "footer/footer.html" . }}
        {{ partial "footer/styles.html" . }}
        {{ partial "footer/scripts.html" . }}
    </div>
</body>

</html>