{{ $bootstrapJS := resources.GetRemote (printf "https://cdn.jsdelivr.net/npm/bootstrap@%s/dist/js/bootstrap.bundle.min.js" .Site.Params.bootstrap.version) }}
{{ $mainJS := resources.Get "js/main.js" | js.Build }}
{{ $sliceFooterJS := slice $bootstrapJS $mainJS }}

{{ if .Site.Params.instantpage.enabled }}
{{ $instantpageJS := resources.GetRemote (print "https://instant.page/" .Site.Params.instantpage.version) }}
{{ $sliceFooterJS = $sliceFooterJS | append $instantpageJS }}
{{ end }}

{{ if .Site.Params.lazysizes.enabled }}
{{ $lazysizesJS := resources.GetRemote "https://afarkas.github.io/lazysizes/lazysizes.min.js" }}
{{ $sliceFooterJS = $sliceFooterJS | append $lazysizesJS }}
{{ end }}

{{ range .Site.Params.footer.js }}
{{ $footerJS := resources.Get . | js.Build }}
{{ $sliceFooterJS = $sliceFooterJS | append $footerJS }}
{{ end }}

{{ $bundleFooterJS := $sliceFooterJS | resources.Concat "js/bundleFooter.js" | minify | fingerprint }}
<script>{{ $bundleFooterJS.Content | safeJS }}</script>
