{{ $emptyCSS := resources.Get "css/empty.css" }}
{{ $sliceFooterCSS := slice $emptyCSS }}

{{ range .Site.Params.footer.scss }}
    {{ $footerCSS := resources.Get . | toCSS (dict "outputStyle" "compressed") }}
    {{ $sliceFooterCSS = $sliceFooterCSS | append $footerCSS }}
{{ end }}
{{ range .Site.Params.footer.css }}
    {{ $footerCSS := resources.Get . }}
    {{ $sliceFooterCSS = $sliceFooterCSS | append $footerCSS }}
{{ end }}

{{ $bundleFooterCSS := $sliceFooterCSS | resources.Concat "css/bundleFooter.css" | minify | fingerprint }}
<style>{{ $bundleFooterCSS.Content | safeCSS }}</style>
