{{ $emptyJS := resources.Get "js/empty.js" | js.Build }}
{{ $sliceHeaderJS := slice $emptyJS }}

{{ if .Site.Params.theming.enabled }}
    {{ $themingJS := resources.Get "js/theming.js" | js.Build }}
    {{ $sliceHeaderJS = $sliceHeaderJS | append $themingJS }}
{{ end }}

{{ range .Site.Params.header.js }}
    {{ $headerJS := resources.Get . | js.Build }}
    {{ $sliceHeaderJS = $sliceHeaderJS | append $headerJS }}
{{ end }}

{{ $bundleHeaderJS := $sliceHeaderJS | resources.Concat "js/bundleHeader.js" | minify | fingerprint }}
<script>{{ $bundleHeaderJS.Content | safeJS }}</script>
