{{ $styleCSS := resources.Get "scss/style.scss" | toCSS (dict "outputStyle" "compressed") }}
{{ $sliceHeaderCSS := slice $styleCSS }}

{{ range .Site.Params.header.scss }}
    {{ $headerCSS := resources.Get . | toCSS (dict "outputStyle" "compressed") }}
    {{ $sliceHeaderCSS = $sliceHeaderCSS | append $headerCSS }}
{{ end }}
{{ range .Site.Params.header.css }}
    {{ $headerCSS := resources.Get . }}
    {{ $sliceHeaderCSS = $sliceHeaderCSS | append $headerCSS }}
{{ end }}

{{ $bundleCustomCSS := $sliceHeaderCSS | resources.Concat "css/bundleCustom.css" | minify | fingerprint }}
<style>{{ $bundleCustomCSS.Content | safeCSS }}</style>
